.container {
  padding: 20px;
  color: rgb(31, 41, 41);
}

.world {
  border: 2px solid rgb(39, 29, 29);
  width: 400px;
  box-shadow: inset;
  height: 66px;
  text-align: center;
  margin: 10px;
  padding: 20px 0;
  text-transform: capitalize;
  font-size: 29px;
}

.on__block * {
  margin: 15px;
}

.off__block * {
  margin: 15px;
}
.off__block button {
  background-color: rgb(27, 21, 77);
}
.off__block button:hover {
  background-color: rgb(30, 45, 94);
}

.spead__block * {
  margin: 15px;
}
