.container {
	padding: 20px;
	color: rgb(31, 41, 41);
}

.container p {
	font-size: 25px;
	text-indent: 30px;
}

.container p p {
	margin: 0;
	text-indent: 30px;
}

.container br {
	text-indent: 30px;
}

.headApparatNav {
	color: rebeccapurple
}

button {

	height: 75px;
	width: 122px;
	font-size: 30px;
	border-radius: 10%;
}