.header {
	
	grid-area: h;
	background-color: black;
	padding: 4px;
	color:rgb(255, 255, 255)
}

.header img {

	width: 50px;
}

.header h4 {
	padding-left: 1%;
	display: inline;
	color: antiquewhite;
}

.login__block{
	display: flex;
	float: right;
padding: 1%;
padding-right: 40px;

}

.login__block a{
color: antiquewhite;
}

.login__block button{
	font-size: 14px;
	width: 100px;
	height: 30px;	
}